*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
usecaseImpl/onboarding/build
usecase/onboarding/build
uilogicImpl/welcome/build
uilogic/welcome/build
iosApp/Pods/Pods.xcodeproj/xcuserdata
iosApp/iosApp.xcodeproj/xcuserdata
iosApp/iosApp.xcworkspace/xcshareddata
iosApp/iosApp.xcworkspace/xcuserdata
androidApp/onbording/build
androidApp/app/build
gradle/projectDependencyGraph.gradle
