*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
usecaseImpl/onboarding/build
usecaseImpl/home/build
usecase/onboarding/build
usecase/home/build
usecaseFake/home/build
usecase/home/kotlin/build
uilogicImpl/welcome/build
uilogicImpl/home/build
uilogic/welcome/build
uilogic/home/build
iosApp/Pods
iosApp/iosApp.xcodeproj/xcuserdata
iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/iosApp.xcworkspace/xcshareddata
iosApp/iosApp.xcworkspace/xcuserdata
androidApp/onbording/build
androidApp/app/build
androidApp/home/build
gradle/projectDependencyGraph.gradle
