*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
usecaseImpl/onboarding/build
usecase/onboarding/build
uilogicImpl/welcome/build
uilogic/welcome/build
